<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculate sgpa</title>
</head>
<body>
    <h1>CALCULATE SGPA</h1>
    
    
    <form action="/result/core" method="get">
      
      
        <label for="subject1">subject1</label>
        <input type="number" name="subject1" id="subject1" min="0" max="100" value=<%=sub.subject1%> required>
        <label for="subject2">subject2</label>
        <input type="number" name="subject2" id="subject2" min="0" max="100" value=<%=sub.subject2%> required>
        <label for="subject3">subject3</label>
        <input type='number' name="subject3" id="subject3" min="0" max="100" value=<%=sub.subject3%> required>
        <label for="subject4">subject4</label>
        <input type="number" name="subject4" id="subject4" min="0" max="100" value=<%=sub.subject4%> required>
        <label for="subject5">subject5</label>
        <input type="number" name="subject5" id="subject5" min="0" max="100" value=<%=sub.subject5%> required>
        <label for="subject6">subject6</label>
        <input type='number' name="subject6" id="subject6" min="0" max="100" value=<%=sub.subject6%> required>
        <label for="subject7">subject7</label>
        <input type="number" name="subject7" id="subject7" min="0" max="100" value=<%=sub.subject7%> required>
        <label for="subject8">subject</label>
        <input type="number" name="subject8" id="subject8" min="0" max="100" value=<%=sub.subject8%> required>

       

        <button>Calculate</button>
    </form>
    <h1><%=result%></h1>
    <h1><%=per%>%</h1>
    <button ><a href="/home">Home</a></button>
</body>
</html> -->

<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<header class="text-white bg-slate-900 body-font">
  <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
    <a class="flex flex-row items-center mb-4 font-medium text-white title-font md:mb-0">



      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-6 ">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
      </svg>
      
      


      
      <span class="ml-3 text-xl">VTU CALCULATOR</span>
    </a>
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
      <a class="mr-5 hover:text-red-600" href="/home">HOME</a>
      <a class="mr-5 hover:text-red-600" href="/semester">BACK</a>
     


    </nav>



  </div>
</header>
<body class="bg-gray-800">
   <!--------------------------------End of the nav bar tools---------------------------------------------------------------->
   <form action="/result/core" method="get">
      <fieldset>
      <section class="relative text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col w-full mb-12 text-center">
              <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font"  style="color:#c7af15;" href=""><b>Seventh Semester SGPA</b></h1>
              <h3 class="mb-4 text-sm font-medium text-gray-900 sm:text-3xl title-font"  style="color:#c7af15;" href=""><b> Result:<%=result %>  Percentage:<%=per %>% </b></h3>

            </div>
            <div class="mx-auto lg:w-1/2 md:w-2/3">
              <div class="flex flex-wrap -m-2">
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject1" class="text-sm leading-7 text-red-600"><b>18XX71</b></label>
                    <input type="number" id="subject1" name="subject1" class="w-full px-3 py-1 text-base font-extrabold leading-8 text-gray-900 transition-colors duration-200 border border-gray-300 rounded outline-none ease-in-outbg-gray-100 focus:border-indigo-500 focus:bg-Neutral-800 focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject1%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject2" class="text-sm leading-7 text-red-600"><b>18XX72</b></label>
                    <input type="number" id="subject2" name="subject2" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 border border-gray-300 rounded outline-none ease-in-outbg-gray-100 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject2%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject3" class="text-sm leading-7 text-red-600"><b>18XX73X</b></label>
                    <input type="number" id="subject3" name="subject3" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject3%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject4" class="text-sm leading-7 text-red-600"><b>18XX74X</b></label>
                    <input type="number" id="subject4" name="subject4" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject4%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject5" class="text-sm leading-7 text-red-600"><b>18XX75X</b></label>
                    <input type="number" id="subject5" name="subject5" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject5%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject6" class="text-sm leading-7 text-red-600"><b>18XXL76</b></label>
                    <input type="number" id="subject6" name="subject6" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 " min="0" max="100" required value=<%=sub.subject6%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject7" class="text-sm leading-7 text-red-600"><b>18XXL77</b></label>
                    <input type="number" id="subject7" name="subject7" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject7%>>
                  </div>
                </div>
                <div class="w-1/2 p-2">
                  <div class="relative">
                    <label for="subject8" class="text-sm leading-7 text-red-600"><b>18XXP78</b></label>
                    <input type="number" id="subject8" name="subject8" class="w-full px-3 py-1 text-base leading-8 text-gray-900 transition-colors duration-200 ease-in-out bg-gray-100 border border-gray-300 rounded outline-none focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200" min="0" max="100" required value=<%=sub.subject8%>>
                  </div>
                </div>
                
                <div class="w-full p-2">
                  <button class="flex px-8 py-2 mx-auto text-lg text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-green-600">CALCULATE SGPA</button>
                </div>
                  </span>
                </div>
              </div>
            </div>
         
          </div>
        </section>
    </fieldset>
    </form>
  
 
  </body>
  </html>
